# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal

# Media files
media/

# Virtual Environment
venv/
env/
.venv/

# IDEs and Tools
.vscode/
.idea/
.env
.env.local
.vercel/

# Scripts
run_updates.py
